* {
  box-sizing: border-box;
  margin: 0;
}


h1 {
  margin-bottom: 15px;
  text-align: center;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 1.75em;
}


p {
  border: 1px solid black;
  width: 35%;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 1.25em;
  position:absolute;
  top: 0;
  right: 0;
  padding: 3px;
  text-align: center;
}

#p1 {
  background-color: #A52A2A;
  color: white;
}
#p2 {
  background-color: #DEB887;
}
#p3 {
  background-color: #5F9EA0;
}


div#box {
  background-color: lightgrey;
  position:relative;
  border: 1px black solid;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 15px;
  align-items: center;
  margin:0.6%;

}




/* Simple Responsive Framework. */
.row {
   width: 99%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
 .col-lg-4{
   float: left;
    width: 32.1%;
    
    
  }
  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 48%;
  }
  .col-md-12 {
    width: 98%;
  }
}
